body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding-top: 50px;
}
h3{
    text-decoration: underline;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error {
    color: red;
    font-size: 0.875rem;
}
.input-group {
    margin-bottom: 20px;
}
.fa-eye, .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.cabecera {
    font-weight: bold;
}
